include __pkginfo__.py
include LICENSE
include requirements.txt
recursive-exclude **/__pycache__ *
recursive-include wx_icons_humanity *
recursive-include wx_icons_humanity/ *.pyi
recursive-include wx_icons_humanity/ py.typed
