importlib-resources>=1.0.2
wx-icons-adwaita>=0.1.2
wx-icons-hicolor>=0.1.4
wxpython>=4.0.7; platform_system == "Windows" and python_version < "3.9"
wxpython>=4.0.7; platform_system == "Darwin" and python_version < "3.9"
